services:
  backend:
    build: ./backend
    ports:
      - "3010:3010"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/certs:/app/certs:ro

  frontend:
    build:
      context: .  
      dockerfile: frontend/Dockerfile
      args:
        - VITE_API_URL=localhost:3010
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=localhost:3010