@tailwind base;
@tailwind components;
@tailwind utilities;

aside {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;  
    width: 500px; 
    height: 60vh;
     flex-direction: column; 
    padding: 15px;
    /* background-color: red; */
}

ul {
    display: flex;
    gap: 30px;
    list-style: none; 
    align-items:flex-start;
}
li{
    position: relative;
}
.bottom_dash{
    padding: 0;
    /* background-color: rgb(255, 0, 238); */
    right: 0px;
    justify-content: space-around;
    margin-left: 50px;
}
/* hado bash nta7akmo fe side bar  */



.profil_class{
    width: 50px;
    border-radius: 50%;
}
.profil_name{
    color: rgb(255, 0, 195);
    font-style: normal;
}
.bottom_out{
margin-top: auto;  
 
    width: fit-content;
    bottom:100%;
    align-self:flex-start;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(195, 0, 255);
   
    
}
.direction{
    flex-direction: column;
}
.search{
   position: absolute;
   right: 15px;
    width: 150px;
    height: 10px;
}