@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0d0221; 
  color: white;
  font-family: sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #0d0221 inset !important; 
    -webkit-text-fill-color: white !important; 
    transition: background-color 5000s ease-in-out 0s;
}

.shrink-img {
  width: 90px;
  height: auto; /* Ensures the aspect ratio is preserved */
  /* Or use object-fit if you need specific container fitting */
  /* object-fit: cover; */ 
}
